<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>Etude Algorithme</title>
    <link rel="stylesheet" href="/assets/stylesheets/bootstrap.css">
    <!--favicon-->
    <link rel="shortcut icon" href="/images/favicon/favicon.ico">
  </head>
  <body>
    <%= yield %>

  </body>
</html>
